<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form method = "POST" action="/registro">
        <label for = "Nombre">  Nombre del estudiante: </label>
        <br>
        <input type="text" name="Nombre">
        <br>
        <label for = "Correo"> Correo de estudiante: </label>
        <br>
        <input type="email" name="Correo">
        <br>
        

        <button type = "submit">Enviar</button>

    </form>


  
    



</body>
</html>